#heading{
    background-color: rgb(158, 86, 225);
    color: whitesmoke;
    text-align: center;
    font-size: 45px;
    height: 60px;
}

.image{
    margin-left: 485px;
    margin-top: 10px;
}

.container{
    width: 1300px;
    margin-left: 109px;
    background-color: whitesmoke;
}

.table{
    font-size: 25px;
    margin: 30px;
}

body{
    font-size: 20px;
    background-color: rgb(204, 24, 204);
}

.listH{
    list-style-type: none;
    font-size: 25px;
    color: blue;
    width: 300px;
}

li{
    padding: 5px;
    list-style-type: circle;
}